.icon_home_img{

       height: 45px;
    position: relative;
    top: -2px;
    right: 1px;

}

/*===================== BOUNTY FORM FRONT ====================*/
.bounty_box_front{
	border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
    background: #efefef;
    padding: 10px;
}
.container-fluid {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}
.bounty_box_front_ul li{
color: #3a3a3a;
    font-family: sans-serif;
	
}
.p_t_b50{
	    padding-top: 50px;
    padding-bottom: 50px;
}
.bgf5{
	    background: #f5f5f5 !important;
}

 
.contact_custom__form {
   /*background-color: #081438;*/
       padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-bottom: 0px;
    
}
.contact_custom__form label {
    color: #333;
}

.contact-one__form input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), .contact-one__form textarea, .contact-one__form .bootstrap-select>.dropdown-toggle {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    height: 45px;
    color: #333;
    font-size: 15px;
    padding-left: 24px;
    border-radius: 0;
        border: 1px solid #d8d8d8;
            margin-top: 5px;
}
.bg_gradian{
	    background: #fff;
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
    padding-top: 20px;
    padding-bottom: 30px;
}
.text_light_gray {
    color: #7b8697;
    font-weight: 400;
}

.mt-10{
    margin-top: 10px;
}
/*===================== BOUNTY FORM FRONT ====================*/

.payouts_box{
background: #fff;
    box-shadow: 0 0 14px rgb(0 0 0 / 16%);
    padding: 15px;
    margin-bottom: 15px;
}
.details_payouts h4{
font-size: 14px;
    color: #7b8697;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}
.details_payouts span{
    font-size: 14px;
    font-weight: 600;
    color: #232323;
}
.details_payouts span a{
    color: #FF5621;
}

.alert-denger{
	    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #f70707;
    border-radius: .25rem;
    background: #ffecec;
   
}

.alert-denger p{
	  
    color: #f70707;
}


.form_select_custom {
    height: 50px;
    margin-bottom: 18px;
	background:#f7f7f7;
}



.mb-30{
	margin-bottom: 30px !important;
}
.contact_box{
	
	    background: #fff;
    box-shadow: 0 0 14px rgba(0,0,0,.2);
    padding: 20px;
    text-align: left;
    margin-bottom: 25px;
}
.text_white{
	color: #fff !important;
}
.terms_box{
	
	    background: #fff;
    box-shadow: 0 0 14px rgba(0,0,0,.2);
    padding: 20px;
    text-align: left;
    margin-bottom: 25px;
}




.marketprice-area {
	padding-top: 80px;
	padding-bottom: 80px
}

.marketprice-area .coinprice-table {
	margin-top: 32px
}

.marketprice-area .coinprice-table .table-bordered {
	border: 1px solid #eee
}

.marketprice-area .coinprice-table table {
	margin-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0
}

.marketprice-area .coinprice-table table thead {
	background: #1158a0; /* Old browsers */
background: -moz-linear-gradient(left,  #1158a0 20%, #FF5621 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1158a0 20%,#FF5621 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1158a0 20%,#FF5621 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.marketprice-area .coinprice-table table thead tr th {
	text-transform: capitalize;
	font-size: 22px;
	padding: 18px 20px;
	vertical-align: middle;
	position: relative;
	border-bottom-width: 0;
	border-color: #828282;
	color: #fff;
	font-weight: 500
}

.marketprice-area .coinprice-table table tbody tr:hover {
	background-color: #f6f7fb
}

.marketprice-area .coinprice-table table tbody tr td .inner-table tbody tr td {
	border: 0;
	padding: 0
}

.marketprice-area .coinprice-table table tbody tr td .inner-table tbody tr td img {
	width: 26px;
	margin-right: 10px
}

.marketprice-area .coinprice-table table tbody tr td .inner-table tbody tr td .currency__title {
	color: #283a5e;
	font-size: 18px;
	font-weight: 500
}

.marketprice-area .coinprice-table .table-bordered>tbody>tr>td,
.marketprice-area .coinprice-table .table-bordered>tbody>tr>th {
	border-bottom-width: 0;
	border-color: #828282;
	vertical-align: middle;
	padding: 18px 20px;
	font-size: 16px;
	color: #283a5e;
	text-transform: capitalize
}

.marketprice-area .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f6f7fb !important;
}
.marketprice-area .table-striped>tbody>tr>td a{
    color: #FF5621 !important;
}






@media (max-width: 768px){
	.details_payouts{
    border-bottom: 1px solid #eaeaea;
    margin: 10px 0px;
}
	
}
